/* 
    hero main text 
    48px
    extra-bold
    #F9FAF8

    hero secondary text
    18px
    #E5E7EB

    button and call to action color
    #3882F6
    
    information header text
    3px 
    extra-bold
    #1F2937

    quote section background color
    #E5E7EB

    quote text 
    36px
    light 
    italic
    #1F2937
*/


/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header section styling */
header {
    background-color: #1F2937;
}

nav {
    padding: 16px;
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav li {
    margin: 8px;
}

nav p {
    font-size: 24px;
    color: #F9FAF8;
}

nav a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    height: 468px;
    width: 75%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-info {
    width: 400px;
}

.hero-btn {
    display: inline-block;
    margin-top: 16px;
    background-color: #3882F6;
    padding: 8px 28px;
    color: #F9FAF8;
    border-radius: 10px;
    font-weight: bold;
}

.hero img {
    width: 500px;
    height: 250px;
}

.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 10px;
}

/* Main section styling */
main {
    flex: 1 1 auto;
}

.first-section {
    height: 450px;
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.card-container {
    display: flex;
    width: 75%;
    margin: 40px auto;
    justify-content: space-around;
}

.card {
    width: 165px;
}

.card p {
    text-align: center;
    margin-top: 15px;
}

.first-section h2 {
    font-size: 36px;
    font-weight: extra-bold;
    text-align: center;
    margin-top: 40px;
}

.first-section p{
    font-size: 18px;
}

.illustration {
    width: 160px;
    height: 160px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.second-section {
    background-color: #E5E7EB;
    height: 425px;
    display: flex;
    align-items: center;
}

.quote-text {
    width: 75%;
    margin: 0 auto;
    padding: 16px;
}

.second-section blockquote {
    padding: 16px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.second-section figcaption {
    text-align: right;
    padding:  0 48px;
    font-weight: bold;
}

.cta-banner {
    background-color: #3882F6;
    padding: 20px;
}

.cta-banner h3,
.cta-banner p,
.cta-btn {
    color: #F9FAF8;
}

.cta-btn {
    padding: 8px;
    border: 3px solid #F9FAF8;
}